@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
  height: initial;
}
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
html body {
  font-family: 'Inter', sans-serif;
  height: initial;
}
